body {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  border-radius: 16px;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.content p {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.projects {
  display: flex;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.project-card .image {
  width: 300px;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.proj1 .image {
  background-image: url("1/img/out/onion_church_final.jpg");
  background-size: cover;
  background-position: 50% 10%;
}

.proj2 .image {
  background-image: url("2/img/out/blended/blended_football_watermelon.jpg");
  background-size: cover;
  background-position: 50% 25%;
}

.proj3 .image {
  background-image: url("3/img/morph.gif");
  background-size: cover;
  background-position: 50% 25%;
}

.proj4a .image {
  background-image: url("4a/img/background.png");
  background-size: cover;
  background-position: 50% 25%;
}

.project-card .label {
  padding: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.project-card > a {
  width: 100%;
  height: 100%;
}
